<h1>Admin</h1>
<div class="row-fluid">
  <div class="span12 well">
    <%= form_for @message do |f| %>
      <fieldset>
        <legend>Edit Message of the Day</legend>
        <div class="controls">
          <%= f.text_area :body, :class => "field span12" %><br />
        </div>
      <%= f.submit %>
    <% end %>
  </div>
</div>

