/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require bootstrapSwitch
 *= require_tree .
*/

header {
  width: 100%;
  margin:0px auto;
}

table {
  width:100%;
  margin-bottom:18px;
  font-size:13px;
}
.content {
  background-color: rgba(200,200,200,0.7);
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

h1 {
  text-align: center;
  color:#175B65;
  font: 95px/1 "Impact";
  text-transform: uppercase;
  display: block;
  text-shadow:#253e45 -1px 1px 0,
  #253e45 -2px 2px 0,
  #8B1A0A -3px 3px 0,
  #8B1A0A -4px 4px 0;
  margin: 5% auto 5%;
}
#fitimg {
  width  : 100%;
  height : auto;
}

#main {
  margin: 0 auto;
  float: none;
}

#sub {
  margin: 0 auto;
  float: none;
}

#adminForm {
  margin: 0 auto;
  float: none;
}
