/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require toggle-switch
 *= require jquery.bxslider
 *= require_tree .
*/

header {
  width: 100%;
  margin:0px auto;
}

table {
  width:100%;
  margin-bottom:18px;
  font-size:13px;
}

.content {
  background-color: rgba(200,200,200,0.7);
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

h1 {
  color:#DE070A;
  font: 60px/1 "Impact";
  text-transform: uppercase;
  text-shadow:#DE7907 -1px 1px 0,
  #253e45 -2px 2px 0,
  #8B1A0A -3px 3px 0,
  #8B1A0A -4px 4px 0;
  margin: 5% auto 5%;
  a {
    color:#DE070A;
    font: 60px/1 "Impact";
    text-transform: uppercase;
    text-shadow:#DE7907 -1px 1px 0,
    #253e45 -2px 2px 0,
    #8B1A0A -3px 3px 0,
    #8B1A0A -4px 4px 0;
    margin: 5% auto 5%;
  }
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}
}

h2 {
  padding-top:25px;
  color: rgba(25,25,25,0.2);
}

#fitimg {
  width  : 100%;
  height : auto;
}

#adminForm {
  margin: 0 auto;
  float: none;
}

#leaderboard {
  text-align:center;
}

.navbar-inner {
  background-color: rgba(50,50,50,0.3); /* fallback. color, place your own */

  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, rgba(50,50,50,0.3), rgba(50,50,50,0.3));
  background-image: -ms-linear-gradient(top, rgba(50,50,50,0.3), rgba(50,50,50,0.3));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(50,50,50,0.3)), to(rgba(50,50,50,0.3)));
  background-image: -webkit-linear-gradient(top, rgba(50,50,50,0.3), rgba(50,50,50,0.3));
  background-image: -o-linear-gradient(top, rgba(50,50,50,0.3), rgba(50,50,50,0.3));
  background-image: linear-gradient(top, rgba(50,50,50,0.3), rgba(50,50,50,0.3));
  background-repeat: repeat-x;

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(50,50,50,0.3)', endColorstr='rgba(50,50,50,0.3)', GradientType=0);
}

@media (max-width: 480px) {
  .newsletter { display:none; }
  #newsletter { display:none; }
  .stoolGagues { margin-left: -40px; }
  /*.stoolGagues { display: none; }*/
  /*.stoolGaguesMobile { display: block; }*/
  #chartDivUser { width: 220px; height: 160px; margin-top: -50px;}
  .toggleForm { width:200px; float:left; margin-left:20px; padding-top:20px; }
  #loginForm { display:none; }
  #chartDiv1 { display:block; }
  #chartDiv2 { display:none; }
  #chartDiv3 { display:none; }
  #chartDiv4 { display:none; }
  .navBar { width:100%; }
  .navbar-inner { width:120%; }
}
@media (min-width: 480px) {
  #loginForm { display:block; }
  #newsletter { display:block; }
  .newsletter { display:block; }
  .stoolGagues { margin-left: 0px; }
  /*.stoolGagues { display: block; }*/
  /*.stoolGaguesMobile { display: none; }*/
  #chartDivUser { width: 800px; height: 600px; margin-top: -200px;}
  .toggleForm { width:300px; float:left; left:-200px; padding-top:20px; margin-left:-100px; }
  #chartDiv1 { display:block; }
  #chartDiv2 { display:block; }
  #chartDiv3 { display:block; }
  #chartDiv4 { display:block; }
}
