// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*body {
  background: #233a40; 
  color: #fff;
  font: 16px/1.8 sans-serif;
}*/

.home {
  width: 84%;
  margin:0 auto;
  max-width:1140px;
}

.container {
  width: 84%;
  margin:0 auto;
  max-width:1140px;
}

h1 {
  text-align: center;
  color:#175B65;
  font: 95px/1 "Impact";
  text-transform: uppercase;
  display: block;
  text-shadow:#253e45 -1px 1px 0,
  #253e45 -2px 2px 0,
  #8B1A0A -3px 3px 0,
  #8B1A0A -4px 4px 0;
  margin: 5% auto 5%;
}
#fitimg {
  width  : 100%;
  height : auto;
}
ul.ulAction {
  list-style-type:none;
  margin: 0;
  padding: 0;
  text-align:center;
}
ul li.action {
  display: block;
  float:left;
  margin-right:5%;
}
/*.row {text-align: center}*/
/*.container { width: 100%; }*/
